<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/edit.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Input Buttons</title>
</head>

<body>
    <div class="header">LED PANEL</div>
    <div class="container">
        <div class="container__form">
            <div class="container__form-title">
                Chữ
            </div>
            <div class="container__form-body">
                <textarea class="form-control text-area" id="exampleFormControlTextarea1" rows="3" placeholder="Nội dung"></textarea>
                <div class="setting">
                    <label for="">Font chữ</label>
                    <input type="text" class="form-control" id="" placeholder="Font chữ">
                </div>
                <div class="d-flexs item">
                    <div class="d-flex">
                        <label for="">Màu</label>
                        <input type="text" class="form-control" id="" placeholder="Font chữ">
                    </div>
                    <div class="d-flex">
                        <label for="">Tốc độ</label>
                        <input type="text" class="form-control" id="" placeholder="Font chữ">
                    </div>
                    <div class="d-flex">
                        <label for="">Kiểu chạy</label>
                        <input type="text" class="form-control" id="" placeholder="Font chữ">
                    </div>
                </div>
                <div class="d-flexs item">
                    <div class="d-flex">
                        <label for="">Hiệu ứng</label>
                        <input type="text" class="form-control" id="" placeholder="Font chữ">
                    </div>
                    <div class="d-flex">
                        <label for="">Tốc độ</label>
                        <input type="text" class="form-control" id="" placeholder="Font chữ">
                    </div>
                    <div class="d-flex">
                        <label for="">Kiểu chạy</label>
                        <input type="text" class="form-control" id="" placeholder="Font chữ">
                    </div>
                </div>
            </div>
        </div>
        <div class="container__form">
            <div class="container__form-title">
                Nền
            </div>
            <div class="container__form-body">
                <div class="d-flexs">
                    <div class="d-flex">
                        <label for="">Hiệu ứng</label>
                        <input type="text" class="form-control" id="" placeholder="Font chữ">
                    </div>
                    <div class="d-flex">
                        <label for="">Tốc độ</label>
                        <input type="text" class="form-control" id="" placeholder="Font chữ">
                    </div>
                    <div class="d-flex">
                        <label for="">Kiểu chạy</label>
                        <input type="text" class="form-control" id="" placeholder="Font chữ">
                    </div>
                </div>
            </div>
        </div>
        <div class="container__form">
            <div class="container__form-title">
                Viền
            </div>
            <div class="container__form-body">
                <div class="d-flexs">
                    <div class="d-flex">
                        <label for="">Hiệu ứng</label>
                        <input type="text" class="form-control" id="" placeholder="Font chữ">
                    </div>
                    <div class="d-flex">
                        <label for="">Tốc độ</label>
                        <input type="text" class="form-control" id="" placeholder="Font chữ">
                    </div>
                    <div class="d-flex">
                        <label for="">Kiểu chạy</label>
                        <input type="text" class="form-control" id="" placeholder="Font chữ">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="group-btn">
        <a href="/template/editSetting.html" class="button">Xem thử</a>
        <a href="/" class="button-save">Lưu</a>
    </div>
</body>

</html>