<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/editsetting.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>LED PANEL</title>
</head>

<body>
    <div class="blinking">
        <div class="blinking-text">L</div>
        <div class="blinking-text">E</div>
        <div class="blinking-text">D</div>
        <div class="blinking-text"> </div>
        <div class="blinking-text">P</div>
        <div class="blinking-text">A</div>
        <div class="blinking-text">N</div>
        <div class="blinking-text">E</div>
        <div class="blinking-text">L</div>
    </div>
    <div class="container">
        <div class="container-wrap">
            <div class="container-wrap-item">
                <div class="container-wrap-item-stt">
                    1
                </div>
                <div class="container-wrap-item-title">
                    Long bắc phoi
                </div>
                <div class="container-wrap-item-edit">
                    Sửa
                </div>
                <div class="container-wrap-item-edit-1">
                    ...
                </div>
                <div class="container-wrap-item-edit-2">
                    ..>
                </div>
                <div class="container-wrap-item-edit-3">
                    X
                </div>
            </div>
            <div class="container-wrap-item">
                <div class="container-wrap-item-stt">
                    1
                </div>
                <div class="container-wrap-item-title">
                    Nghĩa bắc phoi
                </div>
                <div class="container-wrap-item-edit">
                    Sửa
                </div>
                <div class="container-wrap-item-edit-1">
                    ...
                </div>
                <div class="container-wrap-item-edit-2">
                    ..>
                </div>
                <div class="container-wrap-item-edit-3">
                    X
                </div>
            </div>
            <div class="container-wrap-item">
                <div class="container-wrap-item-a">
                    <a href="/template/add.html" class="btn-s">+  Thêm nội dung mới</a>
                </div>
                <div class="container-wrap-item-b">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Mức sáng 5</option>
                        <option value="1">Font 1</option>
                        <option value="2">Font 2</option>
                        <option value="3">Font 3</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="btn-div">
            <a href="/template/inforWifi.html" class="button">- Thông tin phát wifi -</a>
        </div>
        <script src="../javascripts/title.js"></script>
    </div>
</body>

</html>