<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/infor.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>LED PANEL</title>
</head>

<body>
    <div class="blinking">
        <div class="blinking-text">L</div>
        <div class="blinking-text">E</div>
        <div class="blinking-text">D</div>
        <div class="blinking-text"> </div>
        <div class="blinking-text">P</div>
        <div class="blinking-text">A</div>
        <div class="blinking-text">N</div>
        <div class="blinking-text">E</div>
        <div class="blinking-text">L</div>
    </div>
    <div class="container">
        <div class="container-wrap">
            <div class="container-wrap-item">
                <div class="container-wrap-item-label">
                    Nội Dung
                </div>
                <div class="container-wrap-item-content">
                    <textarea type="text" class="form-control" id=""
                        placeholder="Mùa đi ngang phố hay phố không mùa nữa, chỉ một vùng nỗi nhớ ...."></textarea>
                </div>
            </div>
            <div class="container-wrap-item">
                <div class="container-wrap-item-label">
                    Font
                </div>
                <div class="content-wrap">
                <div class="container-wrap-item-content-1">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Chọn Font</option>
                        <option value="1">Font 1</option>
                        <option value="2">Font 2</option>
                        <option value="3">Font 3</option>
                    </select>
                </div>
                <div class="container-wrap-item-content-4">
                    Xem thử
                </div>
            </div>
            </div>
            <div class="container-wrap-item">
                <div class="container-wrap-item-label">
                    Màu
                </div>
                <div class="container-wrap-item-content-1">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>2 màu 1</option>
                        <option value="1">màu 1</option>
                        <option value="2">màu 2</option>
                        <option value="3">màu 3</option>
                    </select>
                </div>
                <div class="container-wrap-item-content-2">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>2 màu 1</option>
                        <option value="1">màu 1</option>
                        <option value="2">màu 2</option>
                        <option value="3">màu 3</option>
                    </select>
                </div>
                <div class="container-wrap-item-content-3">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>2 màu 1</option>
                        <option value="1">màu 1</option>
                        <option value="2">màu 2</option>
                        <option value="3">màu 3</option>
                    </select>
                </div>
            </div>
            <div class="container-wrap-item">
                <div class="container-wrap-item-label">
                    Hiệu ứng
                </div>
                <div class="container-wrap-item-content-1">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Ngẫu nhiên</option>
                        <option value="1">màu 1</option>
                        <option value="2">màu 2</option>
                        <option value="3">màu 3</option>
                    </select>
                </div>
                <div class="container-wrap-item-content-2">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Vận tốc 3</option>
                        <option value="1">màu 1</option>
                        <option value="2">màu 2</option>
                        <option value="3">màu 3</option>
                    </select>
                </div>
                <div class="container-wrap-item-content-3">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>1 nhịp</option>
                        <option value="1">màu 1</option>
                        <option value="2">màu 2</option>
                        <option value="3">màu 3</option>
                    </select>
                </div>
            </div>
            <div class="container-wrap-item">
                <div class="container-wrap-item-label">
                    Nền
                </div>
                <div class="container-wrap-item-content-1">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Quay pháo</option>
                        <option value="1">màu 1</option>
                        <option value="2">màu 2</option>
                        <option value="3">màu 3</option>
                    </select>
                </div>
                <div class="container-wrap-item-content-2">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Vận tốc 3</option>
                        <option value="1">màu 1</option>
                        <option value="2">màu 2</option>
                        <option value="3">màu 3</option>
                    </select>
                </div>
                <div class="container-wrap-item-content-3">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Tắt</option>
                        <option value="1">Bật</option>
                    </select>
                </div>
            </div>
            <div class="container-wrap-item end">
                <div class="container-wrap-item-label ">
                    Viền
                </div>
                <div class="container-wrap-item-content-1">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Ngẫu nhiên</option>
                        <option value="1">màu 1</option>
                        <option value="2">màu 2</option>
                        <option value="3">màu 3</option>
                    </select>
                </div>
                <div class="container-wrap-item-content-2">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Vận tốc 3</option>
                        <option value="1">màu 1</option>
                        <option value="2">màu 2</option>
                        <option value="3">màu 3</option>
                    </select>
                </div>
                <div class="container-wrap-item-content-3">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Tắt</option>
                        <option value="1">Bật</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="btn-div">
            <a href="/" class="button">Lưu & Về lại trang chủ</a>
        </div>

    </div>
    <script src="../javascripts/title.js"></script>
</body>

</html>