body {
  font-family: Arial, sans-serif;
    /* background-image: url('https://cdn.pixabay.com/photo/2017/04/07/18/26/star-2211589_1280.jpg'); */
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;

}
.blinking {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 30px;
}
.blinking-text {
  font-size: 40px;
  animation: blink 1s infinite alternate;
  font-weight: 700;
  margin: 0 5px;
}
.blinking-text:hover {
  cursor: pointer;
}
.header {
  font-size: 34px;
  text-align: center;
  color: #333;
  font-weight: 700;
  margin-top: 4%;
  margin-bottom: 30px;
  letter-spacing: 8px;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  border-top:  2px solid #439ba7;
  border-bottom:  2px solid #439ba7;
  padding: 20px 0;
}
.container-wrap {

}
.container-wrap-item {
  display: flex;
  align-items: center;
  background-color: #79c267;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}
.container-wrap-item-label{
  text-align: center;
  width: 180px;
  font-size: 15px;
  font-weight: 500;
}
.container-wrap-item-content {
  background-color: #fff;
  width: 100%;
  padding: 8px 20px;
  border-left: 1px solid #000;
}
.content-wrap {
  display: flex;
  background-color: #fff;
  width: 100%;
}
.container-wrap-item-content-1 {
width: 33%;
border-left: 1px solid #000;
border-right: 1px solid #000;
padding: 8px 20px;
background-color: #fff;
} 
.container-wrap-item-content-4 {
  width: 67%;
  padding: 8px 20px;
  background-color: #439ba7;
  line-height: 30px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  } 

  .container-wrap-item-content-2 {
    width: 33%;
    padding: 8px 20px;
    background-color: #fff;
    } 

    .container-wrap-item-content-3 {
      width: 33%;
      border-left: 1px solid #000;
      padding: 8px 20px;
      background-color: #fff;
      } 

  select{
    width: 120px;
    padding: 5px 8px;
    outline: none;
    border-radius: 5px;
  }

  .end {
    border-bottom: 1px solid #000;
  }

  .button {
    padding: 10px 20px;
    background-color: #7D7BA1;
    color: #fff;
    border-radius: 5px;
    position: relative;
    top: 80px;
    text-decoration: none;
  }
  .button:hover {
    text-decoration: none;
  }




  /* // response */
@media screen and (min-width: 456px) and (max-width: 768px) {
  
  .header {
    font-size: 30px;
    text-align: center;
    color: #333;
    font-weight: 700;
    margin-top: 3%;
    margin-bottom: 20px;
    letter-spacing: 5px;
  }
  
  .container {
    margin: 0 auto;
    max-width: 500px;
    border-top:  2px solid #439ba7;
    border-bottom:  2px solid #439ba7;
    padding: 20px 0;
  }
  .container-wrap {
  
  }
  .container-wrap-item {
    display: flex;
    align-items: center;
    background-color: #79c267;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
  }
  .container-wrap-item-label{
    text-align: center;
    width: 80px;
    font-size: 13px;
    font-weight: 500;
  }
  .container-wrap-item-content {
    background-color: #fff;
    width: 100%;
    padding: 8px 20px;
    border-left: 1px solid #000;
  }
  .content-wrap {
    display: flex;
    background-color: #fff;
    width: 100%;
  }
  .container-wrap-item-content-1 {
  width: 33%;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 8px 20px;
  background-color: #fff;
  } 
  .container-wrap-item-content-4 {
    width: 67%;
    padding: 8px 20px;
    background-color: #439ba7;
    line-height: 30px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    } 
  
    .container-wrap-item-content-2 {
      width: 33%;
      padding: 8px 20px;
      background-color: #fff;
      } 
  
      .container-wrap-item-content-3 {
        width: 33%;
        border-left: 1px solid #000;
        padding: 8px 20px;
        background-color: #fff;
        } 
  
    select{
      width: 80px;
      padding: 5px 8px;
      outline: none;
      border-radius: 5px;
    }
  
    .end {
      border-bottom: 1px solid #000;
    }
  
    .button {
      padding: 10px 20px;
      background-color: #7D7BA1;
      color: #fff;
      border-radius: 5px;
      position: relative;
      top: 80px;
      text-decoration: none;
    }

}

@media screen and (min-width: 200px) and (max-width: 456px) {

  .header {
    font-size: 30px;
    text-align: center;
    color: #333;
    font-weight: 700;
    margin-top: 3%;
    margin-bottom: 20px;
    letter-spacing: 5px;
  }
  
  .container {
    margin: 0 auto;
    max-width: 500px;
    border-top:  2px solid #439ba7;
    border-bottom:  2px solid #439ba7;
    padding: 20px 0;
  }
  .container-wrap {
  
  }
  .container-wrap-item {
    display: flex;
    align-items: center;
    background-color: #79c267;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
  }
  .container-wrap-item-label{
    text-align: center;
    width: 80px;
    font-size: 13px;
    font-weight: 500;
  }
  .container-wrap-item-content {
    background-color: #fff;
    width: 100%;
    padding: 8px 20px;
    border-left: 1px solid #000;
  }
  .content-wrap {
    display: flex;
    background-color: #fff;
    width: 100%;
  }
  .container-wrap-item-content-1 {
  width: 33%;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 8px 5px;
  background-color: #fff;
  } 
  .container-wrap-item-content-4 {
    width: 67%;
    padding: 8px 20px;
    background-color: #439ba7;
    line-height: 30px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    } 
  
    .container-wrap-item-content-2 {
      width: 33%;
      padding: 8px 5px;
      background-color: #fff;
      } 
  
      .container-wrap-item-content-3 {
        width: 33%;
        border-left: 1px solid #000;
        padding: 8px 5px;
        background-color: #fff;
        } 
  
        .form-select {
          padding: 3px 3px;
          color: #444;
          width: 90px;
          font-size: 12px;
         }
         select {
           outline: 1px solid #ccc;
           /* border: 1px solid #bebebe; */
           border-radius: 3px;
           height: 30px;
         }
  
    .end {
      border-bottom: 1px solid #000;
    }
  
    .button {
      padding: 10px 20px;
      background-color: #7D7BA1;
      color: #fff;
      border-radius: 5px;
      position: relative;
      top: 80px;
      text-decoration: none;
    }

}